APP_ENV=dev
APP_SECRET=

DEFAULT_URI=http://localhost

DATABASE_URL="mysql://clapstock:clapstock@database:3306/clapstock?serverVersion=8.4.0&charset=utf8mb4"

MERCURE_URL=http://localhost:8000/.well-known/mercure
MERCURE_PUBLIC_URL=http://localhost:8000/.well-known/mercure
MERCURE_JWT_SECRET=

MERCURE_ENABLED=1

S3_ENDPOINT=http://seaweedfs:8333
S3_PUBLIC_ENDPOINT=http://localhost:8333
S3_REGION=eu-west-3
S3_BUCKET=clapstock-local
S3_ACCESS_KEY_ID=test
S3_SECRET_ACCESS_KEY=test
