{
	{$CADDY_GLOBAL_OPTIONS}

	frankenphp {
		worker {
			file /app/public/index.php
		}
	}
}

{$SERVER_NAME:localhost} {
	log

	root * /app/public
	encode zstd br gzip

	handle /.well-known/mercure* {
		mercure {
			publisher_jwt {env.MERCURE_JWT_SECRET}
			subscriber_jwt {env.MERCURE_JWT_SECRET}
			anonymous
			cors_origins *
		}
	}

	handle {
		@phpRoute {
			not file {path}
		}
		rewrite @phpRoute /index.php

		@frontController path /index.php
		php @frontController

		file_server {
			hide *.php
		}
	}
}
